// @plugin "cie";

@base-color: #2b99ea;

.text {
    color: @base-color;
}

.text-light {
    color: cie_lighten(@base-color, 15%);
}

.text-dark {
    color: cie_darken(@base-color, 15%);
}

.text-desaturate {
    color: cie_desaturate(@base-color, 15%);
}

.text-saturate {
    color: cie_saturate(@base-color, 15%);
}

.text-rotate {
    color: cie_spin(@base-color, 120deg);
}

.text-mix1 {
    color: cie_mix(@base-color, #f00, 33%);
}

.text-mix2 {
    color: cie_mix(@base-color, #f00, 0.33);
}

.text-combined {
    color: cie_desaturate(cie_darken(@base-color, 20%), 20%);
}

.text-50 {
    color: cie_palette_stop(@base-color, 50);
}

.text-100 {
    color: cie_palette_stop(@base-color, 100);
}

.text-200 {
    color: cie_palette_stop(@base-color, 200);
}

.text-300 {
    color: cie_palette_stop(@base-color, 300);
}
